@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Elsie&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Elsie', serif;
font-family: 'Lato', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button, 
input[type=submit],
input[type=button],
.muse-readmore a
 {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: white;
    color: #9aaa8d;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: color 250ms ease-in-out;
    font-family: 'Bebas Neue', sans-serif;

}

button:hover, 
button:focus {
    color: #b1b1b1;

}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #212121;
    text-align: center;
    padding: 0px 48px;
}

h1, h2, h3, h4, h5, h6, button, p, label, input {
    color: #212121;
}

h1 {
    font-family: 'Elsie', serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 32px 0px 32px 0px;
    text-align: center;

}

h2, h3, h4, h5, h6, button {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 38px;
    margin: 32px 0px 8px 0px;
}

h3 {
    font-size: 30px;
    margin: 24px 0px 8px 0px;
}

.navlinks a {
    padding: 0px 8px;
    text-decoration: none;
    transition: color 250ms ease-in-out;
  
}

.navlinks a:visited {
    color: #212121;

}

.navlinks a:hover {
    color: #9aaa8d;

}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #212121;
    padding: 8px 0px 8px 0px;
}

.item {

}

.byline {
    font-size: 12px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #212121;
    padding: 32px 0px 8px 0px;
}

.greeting {
    font-size: 12px;
    margin-right: 16px;

}

.wrapper {
    margin: 0px auto;
    text-align: center;
}

.content-wrapper {
   max-width: 400px;
   text-align: left;
   margin: 0px auto;
    
}

.logo {
    font-family: 'Elsie', serif;
    size: 32px;
    text-transform: uppercase;
    line-height: .5;
    margin: 0;
}

.title {

}

.create-muse {
    white-space: pre-wrap;
    word-wrap: break-word;   
}

.muse {
    border-bottom: 1px solid #212121;

}

.double-border {
    border-top: 1px solid #212121;
    height: 8px;
    width: 100%;
}

.double-border-nav {
    border-bottom: 1px solid #212121;
    height: 8px;
    width: 100%;
}

.muse-title {
    border-bottom: 1px solid #cfcfcf;

}

.muse-preview {
    margin: 16px 0px;
    line-height: 1.5px;

}
.authors-div a {
    padding: 0px 8px;
    text-decoration: none;
    transition: color 250ms ease-in-out;
    size: 16px;
    display: block;
    margin: 20px;
  
}

.authors-div {
    text-align: left;
}

.authors-div a:visited {
    color: #212121;

}

.authors-div a:hover {
    color: #9aaa8d;

}


.muse-readmore {
    margin: 16px 0px;

}

input[type=text],
input[type=password],
input[type=textarea] {
    padding: 8px;
    width: 100%;
    border: none;
    margin: 16px 0px;
    background-color: #f3f3f3;
}


.muse-text-content {
    margin: 16px 0px;

}

.muse-wrapper {
    border-bottom: 1px solid #212121;
    padding-bottom: 16px;

}

.main-comment-wrapper {

}



.main-comment-form {

}

.comments-title {

}

.all-comments-wrapper {

}

.individual-comment-wrapper {
    margin: 8px 0px;
    border-bottom: 1px solid #cfcfcf;
    padding: 8px 0px;
    font-size: 12px;

}

.individual-comment-content {
    font-size: 16px;
    margin: 8px 0px;
    padding: 8px 0px;

}

.individual-comment-reply-button {
    display: inline-block;
    margin: 8px 0px;
}

.nested-comment-wrapper {
    border-left: 1px solid #cfcfcf;
    margin-left: 32px;
    padding-left: 16px;

}

.individual-comment-likes-wrapper {
    margin: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    

}
.individual-comment-likes-wrapper p {
   display: inline-block;
   

}

.individual-comment-like-button {
    display: inline-block;


}

.padding-div {
    padding: 16px;
}